@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_container{
  padding-top: 40px;
  padding-bottom: 20px;
}


input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* SOLUTION */

/* General styles for .bar */
.bar {
  margin: 10px;
  width: auto;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-right: 20px;
  display: flex; /* To ensure the searchbar fits inside */
  align-items: center; /* Vertical alignment */
  background-color: #E9F6FE;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  border: none;
  font-size: 16px;
  outline: none;
  width: 100%; 
  padding: 10px; 
  background-color: #E9F6FE;
}


.searches {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.title {
  font-size: 20px;
}

.web_page {
  background-color: #E9F6FE;
  margin: 10px;
  border-radius: 30px;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web_preview {
  padding: 5px;
  padding-left: 10px;
  border-radius: 30px;
}

h1 {
  margin: 0;
}

.porcentage {
  margin: 5px;
}

.info {
  margin: 5px;
  font-size: 10px;
}
/* Media query for screens smaller than 600px (mobile view) */
@media (max-width: 600px) {
  .bar {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .searchbar {
    font-size: 14px; /* Slightly smaller font size */
    padding: 8px; /* Reduce padding for smaller screens */
  }
}
